* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#navBar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #171717;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.navButt {
    float: right;
}

.navButt a {
    display: block;
    padding: 32px 3vw;
    font-size: 22px;
    text-decoration: none;
    color: #808080;
    font-weight: bold;
}

.active a {
    color: green;
}

.navLogo {
    float: left;
}

.navLogo img {
    display: block;
    padding-left: 50px;
    height: 60px;
    padding-top: 20px;
}
